.header {
  display: flex;
  width: 100%;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem;
  margin-bottom: 100px;
}

.header__logo {
  color: var(--text-white);
  font-size: 2.8rem;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__link {
  color: var(--text-white);
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: color ease-in-out 0.2s;
}

.header__link:hover {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  .header {
    margin-bottom: 5rem;
  }
}
