@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
  --background-color: #0a0119;
  --primary-color: #ffb742;
  --text-white: #f9f5ff;
  --whatsapp-color: #45c855;

  --primary-font: 'Inter', sans-serif;
  --secundary-font: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-white);
}

main {
  width: 100%;
  max-width: 1300px;
}

p {
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}

a {
  color: white;
  text-decoration: none;
}
.button {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 500;

  padding: 12px 36px;
  border: none;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  color: var(--background-color);
  /*background-color: var(--primary-color);*/
  /*border: 1px solid var(--primary-color);*/
}
