.button {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 500;

  padding: 12px 36px;
  border: none;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  color: var(--background-color);
  /*background-color: var(--primary-color);*/
  /*border: 1px solid var(--primary-color);*/
}

/* Responsividade */
@media (max-width: 1240px) {
  .button {
    font-size: 1.6rem;
    padding: 10px 29px;
  }
}

@media (max-width: 540px) {
  .button {
    font-size: 1.3rem;
    padding: 8px 23px;
  }
}
/* - - - - - Mobile Pequeno - - - - */
@media (max-width: 470px) {
  .button {
    font-size: 1.1rem;
    padding: 7px 19px;
  }
}
