#presentation {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#presentation h1 {
  display: block;
  width: fit-content;
  font-size: 5rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}
#presentation h1:nth-child(1) {
  animation-delay: 0.8s;
}
#presentation h1:nth-child(2) {
  animation-delay: 1.8s;
}
#presentation h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 2.8s;
}
#presentation .cta {
  display: inline-block;
  padding: 10px 30px;
  color: gold;
  background-color: transparent;
  border: 2px solid gold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  transition: 0.5s ease;
  transition-property: background-color, color;
}
#presentation .cta:hover {
  color: white;
  font-weight: 500;
  background-color: gold;
}
#presentation h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
  background-color: gold;
}
#presentation h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#presentation h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span {
  animation-delay: 2.5s;
}
#presentation::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

/* Keyframes */

@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: gold;
    font-weight: 500px;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
