.about__skill-container {
  color: var(--text-white);
  border-radius: 30px;
  text-align: center;
  min-width: 550px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.skill-container__title {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: var(--text-white);
}

.skill__title {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
}

.skill__progress-bar {
  left: 150px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background: transparent;
  border: 2px solid var(--primary-color);
}

.skill__progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
}
.skill__progressing {
  width: 0;
  height: 100%;
  background: var(--primary-color);
  border-radius: 30px;
}

.skill__percent {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 400;
}

.skill__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
