.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  margin-bottom: 150px;
  max-width: 1400px;
}

.home__left-side {
  max-width: 600px;
}

.home__span {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1.4rem;
}

.home__title {
  font-size: 4.8rem;
  font-weight: 400;
  color: var(--text-white);
  margin-bottom: 2.2rem;
}

.home__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-white);
  margin-bottom: 4.8rem;
}

.home__right-side {
  max-width: 494px;
}

.home__img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.home__img-mobile {
  display: none;
}

/* Responsividade */

@media (max-width: 1240px) {
  .home__left-side {
    max-width: 550px;
  }

  .home__title {
    font-size: 3.8rem;
    margin-bottom: 1.8rem;
  }

  .home__span {
    font-size: 2.9rem;
    margin-bottom: 1.2rem;
  }
  .home__text {
    font-size: 1.4rem;
    margin-bottom: 3.8rem;
  }

  .home__right-side {
    max-width: 395px;
  }
}
@media (max-width: 1150px) {
  .home__left-side {
    max-width: 440px;
  }
}

@media (max-width: 900px) {
  .home__left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
  }

  .home__title {
    margin-bottom: 5rem;
  }

  .home__img {
    display: none;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .home__img-mobile {
    display: inline-block;
    width: 395px;
    margin-bottom: 5rem;
  }

  .home__text {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 3.6rem;
  }

  .home {
    justify-content: center;
    padding: 0 4.8rem;
    margin-bottom: 150px;
  }
}
